body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body, #map-div {
	margin: 0;
	padding: 0;
	height: 100%;
	background:#000;
}


search{
	width:350px;
	height:auto;
	position:absolute;
	top:50px;
	left:50px;
}

search input{
	margin:10px;
	width:330px;
	height:40px;
	line-height: 40px;
	font-size:36px;
	font: 36px "Lucida Grande", Helvetica, Arial, sans-serif;	
	font-style: italic;
}

search input button{
	width:75px;
	height:20px;
	margin-left:10px;
	float:left;
	display:inline-block;
}

happiness{
	width: auto
	height:auto;
	line-height: 40px;
	background:#fff;
	position:absolute;
	top:50px;
	right:50px;
}
happiness h3{
	margin:10px;
}

tweets{
	width:400px;
	position:absolute;
	bottom:50px;
	left:50px;
	height:450px;
	background:#fff;
}

tweets ul{
	height:395px;
	overflow-y:scroll;
	width:100%;
	padding:0;
	margin:0;
}

tweets ul li{

	width:96%;
	float:left;
	margin:2%;
	list-style-type: none;
	height:auto;
	border-bottom:1px solid #999;

}

header{
	position:absolute;
	top:0;
	left:25px;
}